HeaderName  /.layout/header.html
ReadmeName  /.layout/footer.html
IndexIgnore .htaccess .layout robots.txt
IndexOptions SuppressHTMLPreamble FancyIndexing IgnoreCase XHTML HTMLTable FoldersFirst NameWidth=*
